.terraform/providers/registry.terraform.io/kreuzwerker/docker/3.0.2/darwin_amd64/README.md
.terraform/providers/registry.terraform.io/kreuzwerker/docker/3.0.2/darwin_amd64/LICENSE
.terraform/providers/registry.terraform.io/hashicorp/aws/5.24.0/darwin_amd64/terraform-provider-aws_v5.24.0_x5
.terraform/providers/registry.terraform.io/kreuzwerker/docker/3.0.2/darwin_amd64/CHANGELOG.md
extra/providers.tf
extra/variables.tf
.terraform.lock.hcl
.terraform.tfstate
.terraform.tfstate.backup